<footer class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 aside-logos">
        <img src="/images/footer-logo.png" class="logo">
        <img src="/images/google-play-btn.png" class="google">
    </div>

    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 aside-options">
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6 footer-section services">
            <a href="/#servicos" style="text-decoration: none;color: white;">
                <h3>Serviços</h3>
            </a>

            <a class="link" href="/#internet">Produtos e Serviços de<br>
                Telecomunicações</a>

            <a class="link" href="/#internet">Internet, Voz e Dados</a>
            <a class="link" href="/#conectividade">Data Center</a>
            <a class="link" href="/#conectividade">Serviços de Cloud</a>
            <a class="link" href="/#avancado">Circuitos Alugados Internacionais</a>
            <a class="link" href="/#avancado">Serviços de Comunicações<br>Seguras e Unificadas</a>
            <a class="link" href="/#avancado">Serviços de pagamentos<br> digitais (WI MONEY)</a>
            <a class="link" href="/#avancado">IOT</a>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-3 footer-section cc"><a href="/contacto"
                style="text-decoration: none;color: white;">
                <h3> Contacte-nos</h3>

                <h5>Telefone</h5>
                <a href="tel:+244227222000" class="link">+ 244 227 222 000</a>

                <h4>Endereço</h4>
                <a id="location" class="link" href="#location">Avª. Talatona, Condomínio Belas Business<br>
                    Park, Torre Luanda - 2º Andar
                </a>

                <h4>Email</h4>
                <a href="mailto:geral@witelekom.ao" class="link">geral@witelekom.ao</a>
            </a>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="follow">
            <h4>Siga a WI nas redes sociais: </h4>

            <i class="fa-brands footer-brands fa-facebook"></i>
            <i class="fa-brands footer-brands fa-instagram"></i>
            <i class="fa-brands footer-brands fa-linkedin"></i>
            <i class="fa-brands footer-brands fa-mail"></i>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-line"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-7 copyright-1">
                <p>© 2022 Termos e Condições | Política de Privacidade</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-5 copyright-2">
                <p>TODOS OS DIREITOS RESERVADOS</p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/slides.js"></script>