<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiTelecom</title>
    <script src="/js/jquery.min.js"></script> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contact.css">

    <script src="https://kit.fontawesome.com/fa53d0c90a.js" crossorigin="anonymous"></script>

 
</head>

<body>
    <nav class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 call-p call">
            <p class="call-now">LIGUE: +244956125365</p>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 header-social" style="color: white;">
            <i class="fa-brands header-brands fa-facebook"></i>
            <i class="fa-brands header-brands fa-instagram"></i>
            <i class="fa-brands header-brands fa-linkedin"></i>
            <i class="fa-brands header-brands fa-mail"></i>

        </div>

        <div class="col-sm-6 col-xs-6">
            <div id="menuToggle" onclick="showMenu()">
                <input type="checkbox" onclick="hideMenu()" />
                
                <span></span>
                <span></span>
                <span></span>
                
                <ul id="menu">
                  <a href="/"><li>Home</li></a>
                  <a href="#sobre"><li>Sobre Nós</li></a>
                  <a href="/#servicos"><li>Serviços</li></a>
                  <a href="/#missao"><li>Missão e Visão</li></a>
                  <a href="/contacto" style="text-decoration: none;color: #232323;"> <li>Contactos</li></a>
                </ul>
              </div>
        </div>
    </nav>
    

    <div class="default-container">

  
        <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12 menu">
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                <div class="col-md-3">
                    <a href="/">
                        <img src="/images/WiLogoRedesigned.png">
                    </a>
                </div>

                <div class="menu-label">
                    <a href="/#sobre" style="text-decoration: none;color: white;">   <button class="menu-button">SOBRE NÓS</button></a>
                </div>

                <div class="menu-label">
                    <a href="/#servicos" style="text-decoration: none;color: white;">         <button class="menu-button">SERVIÇOS</button></a>
                </div>

                <div class="menu-label">
                    <a href="/#missao" style="text-decoration: none;color: white;">         <button class="menu-button">MISSÃO E VISÃO</button></a>
                </div>

            </div>

            <div class="col-md-3 menu-contact">
                <a href="/contacto" style="text-decoration: none;color: white;">  <button class="menu-button">CONTACTE-NOS</button></a>
            </div>
        </section>

        <h1 class="contact-tittle">CONTACTOS</h1>

    </div>

    <section class="form-section col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="form">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tittle">
                <h2>Pronto para crescer o seu negócio?</h2> 
                <span>Entre em contato conosco!</span>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 first">
                <label>Primeiro Nome </label>
                <input type="text" placeholder="Primeiro Nome">
                
                <label>Último Nome </label>
                <input type="text" placeholder="Business Name">
                
                <label>E-mail </label>
                <input type="email" placeholder="E-mail">
                
                <label>Quais serviços oferece? </label>
                <input type="text" placeholder="Quais serviços oferece?">                
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 second">
                <label>Último Nome</label>
                <input type="text" placeholder="Último Nome">
                
                <label>Cargo </label>
                <input type="text" placeholder="Cargo">
                
                <label>Contacto </label>
                <input type="text" placeholder="Contacto">             
            </div>
            
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-section">
                <label>Como podetemos ajudar?</label>
                <textarea rows="10" cols="22"></textarea>
            </div>
        </div>


    </section>


    

    <section class="col-md-12 work-section no-padding">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 subscription-line">
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 subscription-section no-padding">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 subscription">
                    <h3>SUBSCREVA A NEWSLETTER WI TELECOMUNICAÇÕES:</h3>    
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 subscription no-padding">
                    <input type="text" class="subscription-box" placeholder="COLOQUE AQUI O SEU E-MAIL">
                </div>
            </div>
    </section>

    <footer class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 aside-logos">
            <img src="/images/footer-logo.png" class="logo">
            <img src="/images/google-play-btn.png" class="google">
        </div>

        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 aside-options">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 footer-section services">
                <a href="#servicos" style="text-decoration: none;color: white;">      <h3>Serviços</h3> </a>
                
                <a class="link">Produtos e Serviços de<br> 
                    Telecomunicações</a>

                <a class="link">Internet, Voz e Dados</a>
                <a class="link">Data Center</a>
                <a class="link">Serviços de Cloud</a>
                <a class="link">Circuitos Alugados Internacionais</a>
                <a class="link">Serviços de Comunicações<br>Seguras e Unificadas</a>
                <a class="link">Serviços de pagamentos<br> digitais (WI MONEY)</a>
                <a class="link">IOT</a>
            </div>

            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3 footer-section cc"><a href="/contacto" style="text-decoration: none;color: white;"> <h3> Contacte-nos</h3> </a></div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="follow">
            <h4>Siga a WI nas redes sociais: </h4>
            
            <i class="fa-brands footer-brands fa-facebook"></i>
            <i class="fa-brands footer-brands fa-instagram"></i>
            <i class="fa-brands footer-brands fa-linkedin"></i>
            <i class="fa-brands footer-brands fa-mail"></i>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-line"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-7 copyright-1">
                <p>© 2022  Termos e Condições | Política de Privacidade</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-5 copyright-2">
                <p>TODOS OS DIREITOS RESERVADOS</p>
            </div>
        </div>
        </div>
    </footer>

    <script src="/js/slides.js"></script>

</body>

</html>