<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiTelecom</title>
    <script src="/js/jquery.min.js"></script> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/home.css">

    <script src="https://kit.fontawesome.com/fa53d0c90a.js" crossorigin="anonymous"></script>

 
</head>

<body>
    <nav class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <p class="call-now call-p">CALL NOW: +244922568923</p>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 header-social" style="color: white;">
            <i class="fa-brands header-brands fa-facebook"></i>
            <i class="fa-brands header-brands fa-instagram"></i>
            <i class="fa-brands header-brands fa-linkedin"></i>
            <i class="fa-brands header-brands fa-mail"></i>

        </div>

        <div class="col-sm-6 col-xs-6">
            <div id="menuToggle" onclick="showMenu()">
                <input type="checkbox" onclick="hideMenu()" />
                
                <span></span>
                <span></span>
                <span></span>
                
                <ul id="menu">
                  <a href="/"><li>Home</li></a>
                  <a href="#sobre"><li>Sobre Nós</li></a>
                  <a href="#"><li>Serviços</li></a>
                  <a href="/contacto" style="text-decoration: none;color: #232323;"> <li>Contactos</li></a>
                </ul>
              </div>
        </div>
    </nav>
    

    <div class="default-container">

        <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12 menu">
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                <div class="col-md-3">
                    <img src="/images/container-logo.png">
                </div>

                <div class="menu-label">
                    <a href="#sobre" style="text-decoration: none;color: white;">   <button class="menu-button">SOBRE NÓS</button></a>
                </div>

                <div class="menu-label">
                    <a href="#servicos" style="text-decoration: none;color: white;">       <button class="menu-button">SERVIÇOS</button> </a>
                </div>

                <div class="menu-label">
                    <button class="menu-button">NOTÍCIAS</button>
                </div>
            </div>

            <div class="col-md-3 menu-contact">
                <a href="/contacto" style="text-decoration: none;color: white;">  <button class="menu-button">CONTACTE-NOS</button></a>
            </div>
        </section>

        <div class="carrousel">
            <div class="mySlides fade">
                <img class="carrousel-img" src="/images/notebook.png">
            </div>
            <div class="mySlides fade">
                <img class="carrousel-img" src="/images/tech-bg.png">
            </div>
            <div class="mySlides fade">
                <img class="carrousel-img" src="/images/data-bg.png">
            </div>
            <div class="carrousel-info">
                <h2 class="carrousel-title">Descobre um mundo <br>
                    mais perto de ti</h2>
                <p class="carrousel-desc">Lorem ipsum dolor sit amet, consectetur </p>
                <button class="carrousel-desc-button" style="display: inline-block;">LEARN MORE</button>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 carrousel-icons">
                    <a class="arrow-link" onclick="plusSlides(-1)">
                        <img class="arrow" src="/images/icons/Seta1.png">
                        
                    </a>
                    <a class="arrow-link" onclick="currentSlide(1)">
                        <img class="arrow" src="/images/icons/Seta2.png">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12 explore-container">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 explore-section">
            <h2 class="explore-section-h2">Explora o Mundo</h2>
            <p class="explore-section-p">Com os serviços da Wi Telecom, tem o mundo a seus pés.<br>
                Conectividade e tecnologia de ponta, prontas para garantir o <br>
                melhor para si e para os seus clientes, parceiros e <br>
                colaboradores.
            </p>
            <button class="carrousel-desc-button" style="display: inline-block;">LEARN MORE</button>

        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 explore-img-section">
            <img class="explore-img" src="/images/cables.png">
        </div>
    </section>

    <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12 orientation-section">
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 orientation-aside-1">
            <h2> Linhas de <span class="clear"></span> Orientação</h2>
            <p>
                Os valores da WI Telecom traduzem na sua <br>
                visão e ambição para a proposta de valor <br>
                do seu portfólio de serviços e produtos.<br>
                Pretendemos deste modo garantir a oferta<br>
                elementar de voz fixa, de dados fixos, mas<br>
                também integrar ofertas inovadoras,<br>
                suportadas em redes inteligentes de próxima<br>
                geração.
            </p>
            <button class="carrousel-desc-button" style="display: inline-block;">LEARN MORE</button>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 aside-values">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h3> 
                    Oferta de Serviços Ampla<br> e Diferenciada
                </h3>

                <p>
                    Fornecer uma vasta e diferenciada gama de<br>
                    serviços com a mais recente e inovadora<br>
                    tecnologia a preços acessíveis e competitivos,<br>
                    considerando o baixo poder de compra dos<br>
                    cidadãos angolanos comuns

                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h3>
                    Emergentes Tecnologias<br> de Ponta
                </h3>

                <p>
                    Os serviços da Wi serão baseados nas mais<br>
                    avançadas tecnologias de transmissão por<br>
                    fibra óptica, bem como na emergente<br>
                    tecnologia LTE/5G de Acesso Fixo,<br>
                    proporcionando maior velocidade, elevados<br>
                    padrões de disponibilidade e foco<br>
                    nas tendências internacionais

                </p>
            </div>


            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h3>
                    Proposta de Valor Focada nos<br> Segmentos Chaves
                </h3>

                <p>
                    Ter uma proposta de valor<br>
                    acrescentado com a sua importância<br>
                    devidamente reconhecida pelos clientes<br>
                    alvo, nomeadamente Business to<br>
                    Customers (B2C), Small Office e Home<br>
                    Office (SOHO),Business to Business (B2B)<br>
                     e Business to Government (B2G)
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h3>
                    Promover a Partilha de Infra-<br>estruturas
                </h3>

                <p>
                    Apontando para o desenvolvimento de<br>
                    uma abordagem de partilha de rede<br>
                    para aceder às infra-estruturas<br>
                    existentes no país através do<br>
                    estabelecimento de parcerias com os<br>
                    principais detentores das infra-<br>
                    estruturas de rede nacionais
                </p>
            </div>


            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h3>
                    Cobertura Nacional<br>Estratégica
                </h3>
                
                <p>
                    Cobertura da rede nacional a todas as<br>
                    cidades com população significativa,<br>
                    começando pelas maiores cidades com<br>
                    potencial para aumentar a penetração<br>
                    no mercado e depois, cada vez mais,<br>
                    fornecer uma cobertura nacional de<br>
                    acordo com os requisitos nacionais
                </p>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h3>
                    Serviços Acessíveis para a<br>População
                </h3>
                
                <p>
                    Oferecer serviços, acessíveis a toda a<br>
                    população, que se destaquem pela sua<br>
                    simplicidade, qualidade e confiança,<br>
                    bem como por uma conectividade e<br>
                     padrões fiáveis de inclusão e<br>
                     desenvolvimento social
                </p>
            </div>

        </div>
    </section>

    <section id="servicos" class="col-md-12 plans-section">
        <div class="col-md-12">
            <h2>Oferta de Serviços</h2>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 plan">
            <h3>Basic Fixed Service </h3>
            <img src="/images/netflix-plan.png">

            <h4>Banda Larga </h4>
            <p>
                Serviço de transmissão de dados <br>
                Acesso ao Serviço de Internet <br>
                Serviços de Internet móvel através do<br>
                 posicionamento MVNO
            </p>

            <h4>Voz</h4>
            <p>
                Serviço telefónico num local fixo<br>
                Serviço de voz através da Internet <br>
                Serviço de voz móvel (VoLTE) através do<br>
                posicionamento MVNO
            </p>

            <h4>Tv</h4>
            <p>
                Serviço IPTV<br>
                Serviço OTT
            </p>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 plan">
            <h3>Advanced Connectivity <h3>
            <img src="/images/pc-plan.png">

            <h4>Banda Larga            </h4>
            <p>
                Serviço de rede privada virtual
            </p>

            <h4>Voz</h4>
            <p>
                Sistemas de Comunicação Unificada
            </p>

            <h4>Centro de Dados            </h4>
            <p>
                Serviços do Centro de Dados (Cloud, IaaS, PaaS e<br> SaaS)
            </p>
            
            <h4>Colocação </h4>
            <p>
                Serviço de revenda de circuitos 
            </p>
            
            <h4>Satélite     </h4>
            <p>
                Serviço via satélite (D1) - dois tipos de serviços:<br>
                ouro com banda C e VPN para clientes<br>
                empresariais e prata com banda KU/KA para<br>
                PME
            </p>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 plan">
            <h3>Advanced Services            </h3>
            <img src="/images/credit-plan.png">

            <h4>Centro de Dados            </h4>
            <p>
                VAS (IoT, comércio electrónico, vigilância e <br>
                emergência) <br>
                Gestão da recuperação em caso de catástrofe<br>
                Gestão de redes empresariais                
            </p>

            <h4>Colocação</h4>
            <p>
                Aluguer de infra-estruturas de rede (sítios e<br>
                centro de dados)
            </p>

            <h4>Pagamentos Digitais            </h4>
            <p>Serviços de Pagamentos Digitais
            </p>
        </div>
    </section>

    <section class="col-md-12" style="
    background-color: #561970;">
        <div class="services-options" id="sobre">
            <h2>O que a Wi Telecom tem a oferecer em<br> termos de serviços? </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore<br>
                 magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                 eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor<br> sit amet, 
                 consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, <br> <br> 

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<br> 
                dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum <br>
                dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br>
                aliqua. Ut enim ad minim veniam, 
    
            </p>
        </div>
    </section>

    <section class="col-md-12 work-section no-padding">
        <div class="work-with-us">
            <h2>
                Porquê trabalhar connosco?
            </h2>

            <p>
                
                Temos uma oferta diferenciada e agregadora, assente numa<br>
                 rede alavancada em<br>
                 tecnologia de última geração que lhe irá permitir a <br>
                 disponibilização de serviços de alta<br>
                qualidade.

            </p>
        </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 subscription-line">
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 subscription-section no-padding">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 subscription">
                    <h3>SUBSCREVA A NEWSLETTER WI TELECOMUNICAÇÕES:</h3>    
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 subscription no-padding">
                    <input type="text" class="subscription-box" placeholder="COLOQUE AQUI O SEU E-MAIL">
                </div>
            </div>
    </section>

    <footer class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 aside-logos">
            <img src="/images/footer-logo.png" class="logo">
            <img src="/images/google-play-btn.png" class="google">
        </div>

        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 aside-options">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 footer-section services">
                <a href="#servicos" style="text-decoration: none;color: white;">      <h3>Serviços</h3> </a>
                
                <a class="link">Produtos e Serviços de<br> 
                    Telecomunicações</a>

                <a class="link">Internet, Voz e Dados</a>
                <a class="link">Data Center</a>
                <a class="link">Serviços de Cloud</a>
                <a class="link">Circuitos Alugados Internacionais</a>
                <a class="link">Serviços de Comunicações<br>Seguras e Unificadas</a>
                <a class="link">Serviços de pagamentos<br> digitais (WI MONEY)</a>
                <a class="link">IOT</a>
            </div>

            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 footer-section"><h3>Notícias</h3></div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3 footer-section cc"><a href="/contacto" style="text-decoration: none;color: white;"> <h3> Contacte-nos</h3> </a></div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="follow">
            <h4>Siga a WI nas redes sociais: </h4>
            
            <i class="fa-brands footer-brands fa-facebook"></i>
            <i class="fa-brands footer-brands fa-instagram"></i>
            <i class="fa-brands footer-brands fa-linkedin"></i>
            <i class="fa-brands footer-brands fa-mail"></i>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 footer-line"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-8 copyright-1">
                <p>© 2022  Termos e Condições | Política de Privacidade</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-4 copyright-2">
                <p>TODOS OS DIREITOS RESERVADOS</p>
            </div>
        </div>
        </div>
    </footer>

    <script src="/js/slides.js"></script>

</body>

</html>